"\C-n":history-search-forward
"\C-p":history-search-backward
"\C-f": menu-complete
"\C-b": menu-complete-backward
"\e[1;5C": forward-word
"\e[1;5D": backward-word
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word
